<div>
  <div ng-switch="getType(selected)" class="general-info">
    <div ng-switch-when="Square">
      <img class="icon" src="{{getImage(selected)}}">
      <div class="info">
        <h3>{{selected.terrain.name}} @ {{selected.x}}, {{selected.y}}</h3>
        <a href="#">{{getOwner(selected).name || 'Unowned'}}</a>
      </div>
    </div>
    <div ng-switch-default>
      <span class="icon"></span>
      <div class="info">
        <h3>No selection!</h3>
      </div>
    </div>
  </div>
</div>
